<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
    Graduated as System Information Bachelor's, started in software development through Philips Healthcare as trainee. After solidify my knowledge I was effected as Research and Development Analyst in order to help healthcare and critical care professionals.
    Took part of analysis, development and validation of projects where the main were the Monitoring Central of Critical Care Patient and its modules (e.g. electronic prescription), Santa Casa of Porto Alegre platform update from Oracle Forms/Reports to Java 6 and research and prototype of Basic Health Units. Also help other teams in tasks like integration of hardware and software. To perform this activities I used Java EE, Android SDK, JBoss, EJB, JNI, Prevayler, Oracle Database, H2 Database, Jasper Reports, iReport and many other tools and concepts together with teamwork and the contact with the client to capture their real needs.
    I worked also developing systems and applications of benefit cards, vehicle fleet control and other activities, for this tasks I used Java EE, Google Maps API, Oracle, Sybase, JPA, HTML, JavaScript, AngularJS, JQuery, JBoss, JUnit and Web Services. After that I developed in Android, Python and Java for automation of tests in Android smartphones using an agile development process.
    Nowadays I'm working in a startup focused on discover content on social networks and provide a set of tools to help people to understand how their content is performing against their competitors. To build those solution we use a stack with technologies like Java, Scala, Python, Cassandra, Elasticsearch, MySql, Amazon AWS, Redis, Kafka and a few others.
    </p>
</div><!--//summary-->
</section><!--//section-->
