 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Specialization in Technologies Applied to Information Systems with Agile Methods</h4>
    <h5 class="meta">Uniritter</h5>
    <div class="time">2011 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Information Systems</h4>
    <h5 class="meta">Uniritter</h5>
    <div class="time">2005 - 2010</div>
</div><!--//item-->
</div><!--//education-container-->
