<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Software Engineer</h3>
        <div class="time">May 2016 - Present</div>
      </div><!--//upper-row-->
      <div class="company"><a href="https://www.newswhip.com/">NewsWhip</a>, Dublin - Ireland</div>
    </div><!--//meta-->
    <div class="details">
      <p>Backend Developer responsible for maintenance of current features in products and also for implementing new ones in an Agile environment with multidisciplinary teams.</p>  
      <p>To perform this role technologies like Java SE, Scala, Play Framework for Scala, Python, Elasticsearch, Cassandra, MySql, Amazon AWS, Docker and some others are applied in my day to day activities.</p>
    </div><!--//details-->
  </div><!--//item-->
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Software Analyst</h3>
        <div class="time">November 2014 - May 2016</div>
      </div><!--//upper-row-->
      <div class="company"><a href="http://www.eldorado.org.br/en">Instituto de Pesquisas Eldorado</a>, Porto Alegre - Brazil</div>
    </div><!--//meta-->
    <div class="details">
      <p>Full stack development of a system to remote test and manage mobile devices for test automation in Java.</p>
      <p>Development of modules of an Android app and test automation with Python for a partner;</p>
      <p>Research and Development in internal projects.</p>
    </div><!--//details-->
  </div><!--//item-->
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Java Developer</h3>
        <div class="time">March 2013 - November 2014</div>
      </div><!--//upper-row-->
      <div class="company"><a href="http://www.embratec.com.br/">Embratec Good Card</a>, Porto Alegre - Brazil</div>
    </div><!--//meta-->
    <div class="details">
      <p>Development of systems and applications of benefit cards, vehicle fleet control and other activities using mainly JEE, JBoss and JavaScript.</p>
    </div><!--//details-->
  </div><!--//item-->
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research and Development Analyst</h3>
        <div class="time">January 2010 - October 2012</div>
      </div><!--//upper-row-->
      <div class="company"><a href="https://www.philips.com/">Philips</a>, Porto Alegre - Brazil</div>
    </div><!--//meta-->
    <div class="details">
      <p>Analyse and develop software solutions for healthcare, specially to critical care (Monitoring Central, Electronic Prescription), using JEE, Swing and JBoss;</p>
      <p>Customer service to hospitals and requirement analysis.</p>
    </div><!--//details-->
  </div><!--//item-->
    <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Trainee</h3>
        <div class="time">October 2008 - December 2009</div>
      </div><!--//upper-row-->
      <div class="company"><a href="https://www.philips.com/">Philips</a>, Porto Alegre - Brazil</div>
    </div><!--//meta-->
    <div class="details">
      <p>Analyse and develop software solutions for healthcare, specially to critical care (Monitoring Central, Electronic Prescription), using JEE, Swing and JBoss;</p>
      <p>Customer service to hospitals and requirement analysis.</p>
    </div><!--//details-->
  </div><!--//item-->
</section><!--//section-->
