<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Software Engineer</h3>
        <div class="time">2016 - Present</div>
      </div><!--//upper-row-->
      <div class="company"><a href="https://www.newswhip.com/">NewsWhip</a>, Dublin - Ireland</div>
    </div><!--//meta-->
    <div class="details">
      <p>Backend Developer responsible for maintenance of current features in products and also for implementing new ones in an Agile environment with multidisciplinary teams.</p>  
      <p>To perform this role technologies like Java SE, Scala, Play Framework for Scala, Python, Elasticsearch, Cassandra, MySql, Amazon AWS, Docker and some others are applied in my day to day activities.</p>
    </div><!--//details-->
  </div><!--//item-->
</section><!--//section-->
